In [1]:
import pandas as pd
import numpy as np

In [4]:
cvd19 = "C:/Users/fletc/Desktop/Bootcamp/Final_Project/covid19cases_test.csv"
cvd19_df = pd.read_csv(cvd19)
cvd19_df

,date,area,area_type,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests
0,2020-02-01,Alameda,County,1685886.0,3.0,3.0,0.0,0.0,4.0,4,0.0,0,0.0,0.0,0.0,0.0,NaN
1,2020-02-02,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,1.0,5,0.0,0,0.0,0.0,0.0,0.0,NaN
2,2020-02-03,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,0.0,5,0.0,0,0.0,0.0,0.0,0.0,NaN
3,2020-02-04,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,0.0,5,0.0,0,0.0,0.0,0.0,0.0,NaN
4,2020-02-05,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,1.0,6,0.0,0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60507,2022-10-15,Yuba,County,79290.0,4.0,18962.0,0.0,120.0,55.0,194456,6.0,22233,0.0,18934.0,0.0,129.0,NaN
60508,2022-10-16,Yuba,County,79290.0,0.0,18962.0,0.0,120.0,47.0,194503,0.0,22233,0.0,18934.0,0.0,129.0,NaN
60509,2022-10-17,Yuba,County,79290.0,3.0,18965.0,0.0,120.0,49.0,194552,3.0,22236,0.0,18934.0,0.0,129.0,NaN
60510,2022-10-18,Yuba,County,79290.0,0.0,18965.0,0.0,120.0,NaN,194552,NaN,22236,35.0,18969.0,1.0,130.0,745.0
60511,NaN,Yuba,County,79290.0,4.0,18969.0,10.0,130.0,39.0,194591,3.0,22239,0.0,18969.0,0.0,130.0,NaN

In [12]:
cvdcal=cvd19_df[cvd19_df['area'].str.match('California')]

In [13]:
cvdcal

,date,area,area_type,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests
4960,2020-02-01,California,State,40129160.0,24.0,24.0,0.0,0.0,304.0,304,9.0,9,3.0,3.0,0.0,0.0,NaN
4961,2020-02-02,California,State,40129160.0,9.0,33.0,0.0,0.0,36.0,340,2.0,11,3.0,6.0,0.0,0.0,NaN
4962,2020-02-03,California,State,40129160.0,7.0,40.0,0.0,0.0,29.0,369,1.0,12,0.0,6.0,0.0,0.0,NaN
4963,2020-02-04,California,State,40129160.0,1.0,41.0,0.0,0.0,32.0,401,1.0,13,0.0,6.0,0.0,0.0,NaN
4964,2020-02-05,California,State,40129160.0,3.0,44.0,0.0,0.0,45.0,446,1.0,14,0.0,6.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5947,2022-10-15,California,State,40129160.0,1088.0,10474838.0,1.0,95613.0,23170.0,187360436,1425.0,12919726,0.0,10458792.0,0.0,95604.0,NaN
5948,2022-10-16,California,State,40129160.0,815.0,10475653.0,1.0,95614.0,17252.0,187377688,995.0,12920721,0.0,10458792.0,0.0,95604.0,NaN
5949,2022-10-17,California,State,40129160.0,748.0,10476401.0,0.0,95614.0,15433.0,187393121,842.0,12921563,0.0,10458792.0,0.0,95604.0,NaN
5950,2022-10-18,California,State,40129160.0,0.0,10476401.0,0.0,95614.0,NaN,187393121,NaN,12921563,18150.0,10476942.0,204.0,95808.0,530134.0
5951,NaN,California,State,40129160.0,541.0,10476942.0,194.0,95808.0,123351.0,187516472,9325.0,12930888,0.0,10476942.0,0.0,95808.0,NaN

In [14]:
cvdcal.to_csv('cvdcal.csv')